<div class="about">
	<h4>About angular todo app</h4>
	<p>This is todo list application written by Irmantas Ramanauskas due to learn some angular stuff.</p>
	<p>Angular 6.0.3</p>
	<h5>Instructions</h5>
	<ul>
		<li>Create new todo - write a title in upper input field and press enter.</li>
		<li>Change completed status - single click left icon of the todo item.</li>
		<li>Delete todo - single click right x icon.</li>
		<li>Edit todo title - single click todo title, write a new one and press enter</li>
	</ul>	
</div>
